Source: lliurex-onedrive
Section: qml
Priority: optional
Maintainer: lliurex <lliurex@gva.es>
Build-Depends: debhelper-compat (>= 10),llxsrchelper,python3-all,dh-python,python3-poinstaller,zero-dev
Standards-Version: 4.4.1
Homepage: http://lliurex.net
Vcs-Browser: https://svn.lliurex.net/focal/lliurex-onedrive
Vcs-Git: https://github.com/lliurex/lliurex-onedrive

Package: lliurex-onedrive
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},python3,python3-pyside2.qtqml, python3-pyside2.qtquick, python3-pyside2.qtgui, python3-pyside2.qtwidgets, python3-pyside2.qtquickwidgets, python3-pyside2.qtnetwork, onedrive(>=2.4.13-1~np1+lliurex19)
Recommends:plasma-widget-lliurex-onedrive
Description: App to manage OneDrive client
 This package provides a gui to manage a OneDrive client

Package: zero-lliurex-onedrive
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},epi-gtk,zero-center
Description: Zomando to install lliurex-onedrive
 This package provides a zomando to install lliurex-onedrive
