[Unit]
Description=LliureX OneDrive Alert and Contol service
Documentation=https://github.com/lliurex/lliurex-onedrive
After=network-online.target
Wants=network-online.target

[Service]
# Commented out hardenings are disabled because they don't work out of the box.
# If you know what you are doing please try to enable them.
ProtectSystem=full
#PrivateDevices=true
ProtectHostname=true
#ProtectClock=true
ProtectKernelTunables=true
#ProtectKernelModules=true
#ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
ExecStart=/usr/bin/lliurexOnedriveAC
Restart=on-failure
RestartSec=3
RestartPreventExitStatus=3

[Install]
WantedBy=default.target
