[Desktop Entry]
Type=Service
ServiceTypes=all/all
MimeType=application/octet-stream;inode/directory;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=sendToOneDriveBackup

[Desktop Action sendToOneDriveBackup]
Name=Send to {{ACTION_NAME}}
Name[es]=Enviar a {{ACTION_NAME}}
Name[ca@valencia]=Envia a {{ACTION_NAME}}
Name[ca]=Envia a {{ACTION_NAME}}
Icon=lliurex-onedrive-backup
Exec=/usr/bin/sendToOneDriveBackup.py "%U" {{LOCAL_FOLDER}}
